In [20]:
import os
from aocd import get_data
import numpy as np


day, year = 3, 2016
fn = f'input/Day{day:02}.txt'

if not os.path.exists(fn):
    with open(fn, 'w') as f:
        f.write(get_data(day=day, year=year))
    
with open(fn) as f:
    inp = f.read()

AoC 2016 Day 03
========
https://adventofcode.com/2016/day/3

In [30]:
lol = [[int(x) for x in line.split()] for line in inp.splitlines()]

## Part 1
Find all triples that violate the triangle inequality

In [31]:
sum(map(lambda t: t[0] + t[1] > t[2], map(sorted, lol)))

862

In [72]:
(lambda a: (a[:, 0] + a[:, 1] > a[:, 2]).sum())(
    np.sort(np.array(lol), axis=1)
)

862

## Part 2

reshape the list such that triples are by columns

In [46]:
sum(map(
    lambda t: t[0] + t[1] > t[2],
    map(
        sorted, 
        sum(map(
            lambda x: list(zip(*x)),
            zip(*(lol[i::3] for i in range(3)))
        ), [])
    )
))

1577

In [73]:
(lambda a: (a[:, 0] + a[:, 1] > a[:, 2]).sum())(
    np.sort(np.array(lol)
      .reshape(-1, 3, 3)
      .transpose(0, 2, 1)
      .reshape(-1, 3), axis=1)
)

1577